<html>
    <head>
        <title>Roquet.Q | Senha Incorreta!</title>
        <script>
            confirm('Senha incorreta!');
            window.location.replace('/room/<%= roomId %>');
        </script>
    </head>
</html>
